html(lang="en")
    include head.pug
    body
        main
            include nav.pug
            div(class="container center-align")
                div(class="row")
                    div(class="col s12")
                        div(class="card", style="margin:24px;padding : 24px 0 24px 0;")
                            h3.center Inscription
                            div(class="container")
                                form(action="/api/post/register", method="POST" )
                                    input#username(name="username", type="text", placeholder="Nom de compte",style="margin-top:16px;" required)
                                    input#password(name="password", type="password", placeholder="Mot de passe",style="margin-top:16px;" required)
                                    input.btn.yellow.black-text(type="submit", value="Inscription", style="margin: 24px;")
                                    p.center
                                        i Déjà un compte ?
                                    p.center(style="margin-bottom : 24px;")
                                        a(href="/login") Connexion